@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100&family=Fuggles&family=Inter&family=Lora:ital@1&family=Merriweather+Sans&family=Noto+Sans+Old+Permic&family=Tilt+Prism&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Anuphan:wght@100&family=Fuggles&family=Inter&family=Lora:ital@1&family=Merriweather+Sans&family=Noto+Sans+Old+Permic&family=Roboto&family=Tilt+Prism&display=swap'); */




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*XXXXXHEADERXXXXX*/

header {
    background: linear-gradient(rgba(94, 93, 93, 0.402), rgba(145, 144, 144, 0.398)), url(../img/maderaDos.jpg);
    /* background-image: url(../img/maderaDos.jpg); */
    background-repeat: no-repeat;
    background-size: 100%;
    height: 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0%;
    z-index: 3;
}

header h1 {
    font-size: 50px;
    color: rgb(0, 0, 0);
    font-family: 'Lora', serif;
    font-weight: 600;

}


.logo {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    margin-left: 120px;
    transition: 1s;
}

.logo:hover {
    transform: scale(1.09);
}

.redesSociales {
    width: 200px;
    display: flex;
    justify-content: space-evenly;
}

.redesSociales img {

    width: 40px;
    height: 40px;
}



/*XXXXMAINXXXX*/

.heroSection {
    width: 100%;
    height: calc(100vh - 82.91px);
    background: linear-gradient(rgba(0, 0, 0, 0.278), rgba(0, 0, 0, 0.309)), url(../img/22.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.heroSection div {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroSection div h2 {

    font-size: 80px;
    border: 5px solid white;
    font-family: 'Lora', serif;
    margin-bottom: 90px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    font-weight: 600;
    text-align: center;

}

.heroSection div h3 {

    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 20px;
    margin-bottom: 50px;
    font-weight: 800;
    /* margin-left: 90px; */
}


.heroSection div a {

    text-decoration: none;
    text-align: center;
    font-size: 25px;
    /* margin-top: 170px; */
    /* margin-left: 350px; */
    padding: 15px;
    background-color: rgb(1, 1, 1);
    border-radius: 15px;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* transition: 3s; */
    color: white;
}

.heroSection div a:hover {
    background-color: rgb(107, 99, 68);
    /* transform: scale(1.2); */
}

.textos div {
    /* display: inline-block; */
    display: flex;
    height: 170px;

}

.textos .cajaUno {
    background-color: rgb(181, 173, 155);
    width: 50%;

    color: rgb(255, 252, 252);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cajaUno h2 {
    font-size: 80px;
    font-family: 'Lora', serif;
    font-weight: 600;
}

.textos .cajaDos {
    background-color: rgb(206, 196, 172);
    width: 50%;
    color: rgb(255, 252, 252);
    display: flex;
    justify-content: center;
    align-items: center;

}

.cajaDos h2 {
    font-size: 80px;
    font-family: 'Lora', serif;
    font-weight: 600;
}



.texto .cajaDos h2 {
    margin-top: 60px;
}

/*DESCRIPCION*/
.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.titulo h2 {
    color: rgb(96, 95, 95)
}

.titulo h4 {
    color: rgb(130, 130, 130)
}

.cuadroUno {
    margin-top: 70px;
    margin-left: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 350px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 30px;
    text-align: justify;


}

.cuadroDos {
    margin-left: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 350px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 30px;
}

.ventajaCompetitiva {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: rgb(218, 213, 213) 2px dotted;
    padding: 25px;

}

.ventajaCompetitiva h4 {
    color: rgb(96, 95, 95);
}

.ventajaCompetitiva p {
    color: rgb(130, 130, 130);
}

.carteles {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    margin: 50px;

}

.carteles .cartelUno {
    width: 200px;
    height: 200px;
    margin-left: 70px;
    background-color: rgb(170, 168, 159);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    box-shadow: 14px 13px 25px 2px rgba(0, 0, 0, 0.49);
    -webkit-box-shadow: 14px 13px 25px 2px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: 14px 13px 25px 2px rgba(0, 0, 0, 0.49);
}

.carteles .cartelDos {
    width: 200px;
    height: 200px;

    background-color: rgb(156, 153, 133);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    box-shadow: 14px 13px 25px 2px rgba(0, 0, 0, 0.49);
    -webkit-box-shadow: 14px 13px 25px 2px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: 14px 13px 25px 2px rgba(0, 0, 0, 0.49);

}

.carteles .cartelTres {
    width: 200px;
    height: 200px;
    background-color: rgb(119, 112, 81);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    box-shadow: 14px 13px 25px 2px rgba(0, 0, 0, 0.49);
    -webkit-box-shadow: 14px 13px 25px 2px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: 14px 13px 25px 2px rgba(0, 0, 0, 0.49);

}

.carteles .cartelCuatro {
    width: 200px;
    height: 200px;
    background-color: rgb(174, 164, 122);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-right: 70px;
    box-shadow: 14px 13px 25px 2px rgba(0, 0, 0, 0.49);
    -webkit-box-shadow: 14px 13px 25px 2px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: 14px 13px 25px 2px rgba(0, 0, 0, 0.49);
}

/*HISTORIA*/
.historia {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 130vh;
}

.divImg {
    width: auto;
    /* height: auto; */
}

.historia .divImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.historia .divTexto {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: auto;
    background-color: rgb(170, 166, 125);
}

.historia .divTexto h2 {
    margin-top: 80px;
    margin-bottom: 60px;
}

.historia .divTexto div p {
    font-size: 17px;
    margin-bottom: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.franquicias {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 80vh;
}

.franquicias .divImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.franquicias .divTexto {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: rgb(185, 155, 90);
}

.franquicias .divTexto h2 {
    margin-top: 80px;
    margin-bottom: 60px;
}

.franquicias .divTexto div p {
    font-size: 17px;
    margin-bottom: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

/*LOCAL*/

.local {
    margin-top: 50px;
    margin-bottom: 50px;


}

.localPanaderas {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.localPanaderas img {
    width: 370px;
    height: 460px;
    object-fit: cover;
}

.localPanaderas div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}

.localPanaderas div h3 {
    margin-bottom: 25px;
    color: rgb(83, 82, 82);
}

.localPanaderas div p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 35px;
    margin-top: 25px;
    font-size: 20px;
    color: rgb(106, 106, 106);
    text-align: justify;
}

.localMostrador {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left:70px ; */
}

.localMostrador img {
    width: 370px;
    height: 460px;
    margin-left: 50px;
    object-fit: cover;
}

.localMostrador p {
    margin-right: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgb(106, 106, 106);
    text-align: justify;
}

/*CONTACTOS*/

.contactanos {
    height: 50vh;
    background-color: rgba(219, 145, 17, 0.692);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactanos div h3 {
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contactanos div h4 {
    font-size: 25px;
    margin-left: 55px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contactanos .contactanosDos {
    display: flex;
    flex-direction: column;
}

.contactanos .boton {
    margin-top: 50px;
    padding: 15px;
    font-size: 30px;
    background-color: rgb(8, 8, 8);
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contactanos .boton a {
    color: rgb(182, 177, 177);
    text-decoration: none;
}

.contactanos .boton:hover {
    background-color: rgb(48, 48, 26);
}

/*GALERIA DE IMAGENES*/

.galeriaDeImagenes {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.4%;
    grid-template-rows: auto;
    row-gap: 0;
    column-gap: 0;
    /* margin-left:10px ;  */

}

.galeriaDeImagenes img {
    width: 100%;
    height: 660px;
    border: 4px solid black;
    /* column-gap: 10px; */
    object-fit: cover;
}

/*ELEGIRNOS*/

.elegirnos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(220, 181, 73);
    padding: 50px;
}

.elegirnos div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.elegirnos div p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 25px;
    font-size: 20px;
}

.elegirnos h3 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 800;
}

.elegirnos div a {
    margin-top: 30px;
    padding: 15px;
    text-decoration: none;
    background-color: black;
    border-radius: 10px;
    font-size: 20px;
    color: rgb(203, 200, 200);
}

.elegirnos div a:hover {
    background-color: rgb(59, 71, 59);
}

/*FORMULARIO*/

.formulario {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/c.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: inherit;
    /* background-size:cover ; */
    background-position: bottom;
    background-attachment: fixed;
}

form {
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.516);
    border-radius: 20px;
    text-align: center;
    width: 540px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

form h2 {
    color: rgb(24, 24, 24);
    font-size: 45px;
    font-weight: 600;
}

label {
    color: rgb(31, 30, 30);
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input,
textarea {
    padding: 17px 25px;
    /* border-radius: 25px; */
    margin-bottom: 20px;
    background-color: #d5ded6;
    border: 2px solid #cad3cb;
    color: rgb(110, 108, 108);
}

.form-txt {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.form-txt a {
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
}

.vtn {
    font-size: 26px;
    color: #f8f8f8;
    /* border: 0; */
    /* border-radius: 25px; */
    /* border-left:25px ; */
    background-color: #141414;
    box-shadow: 0 0 20px rgba(15, 15, 15, 0.4);
    cursor: pointer;
}

.vtn:hover {
    background-color: rgb(107, 99, 68);
}

@media screen and(max-width:991px) {
    .formulario {
        padding: 30px;
    }

    form {
        padding: 50px 30px;
        width: 100%;
    }

    input {
        padding: 15px 10px;
    }

}


/* .fixed{
    position: fixed;
    right: 3%;
    bottom: 55%;
    
}  */







/*XXXXFOOTERXXXX*/
.primeraParte {
    background: linear-gradient(rgba(94, 93, 93, 0.402), rgba(145, 144, 144, 0.398)), url(../img/maderaDos.jpg);
    /* background-image: url(../img/maderaDos.jpg); */
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    height: 290px;

}

.cajas {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
    margin-right: 150px;
}

.redesSociales2 {
    margin: 25px 25px 25px 70px;
}

.redesSociales2 img {
    width: 40px;
    height: 40px;
    margin: 10px;

}

.letras {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.letras p {
    font-weight: 600;

}

.segundaParte {
    background-color: rgb(193, 133, 13);
    height: 35px;
    display: flex;
    justify-content: center;
    /* align-items: center; */

}

.segundaParte div p {
    margin-top: 5px;

}


/*XXXXRESPONSIVEXXXX*/


@media screen and (max-width:480px) {

    /*HEADER*/
    .redesSociales {
        display: none;
    }

    h1 {
        display: none
    }

    header a {
        margin-left: 35px;

    }

    header .logo {
        width: 100px;
        height: 100px;
    }

    /*HEROSECTION*/
    .heroSection {
        height: 60vh;
        background: linear-gradient(rgba(0, 0, 0, 0.278), rgba(0, 0, 0, 0.309)), url(../img/22.jpg);
        /* background-size: contain; */
        background-size: cover;
        background-position-x: center;

    }

    .heroSection div h2 {
        border: 0;
        font-size: 55px;
        /* margin-top: 15px; */
        margin-bottom: 30px;
        color: white
    }

    .heroSection div h3 {
        font-size: 15px;
        text-align: center;
        margin-bottom: 25px;
        color: white;
    }

    .heroSection div a {
        color: white;
    }

    /*TEXTOS*/
    .textos div {
        display: flex;
        flex-direction: column;
    }

    .textos div .cajaUno {
        width: 100%;
    }

    .textos div .cajaDos {
        width: 100%;
    }

    .textos div h2 {
        font-size: 40px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    /*DESCRIPCION*/
    .descripcion .titulo {
        margin-top: 75px;
    }

    .cuadroUno {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 40px;
        /* align-items: center; */
    }

    .cuadroUno .ventajaCompetitiva {
        margin-bottom: 25px;
        text-align: center;
        text-align: justify;

    }

    .cuadroDos {
        display: flex;
        flex-direction: column;

    }

    .cuadroDos .ventajaCompetitiva {
        margin-bottom: 25px;
        margin-right: 15px;

    }

    .cuadroDos .ventajaCompetitiva h4 {
        text-align: center;
    }

    .cuadroDos .ventajaCompetitiva p {
        text-align: justify;
    }

    /*CARTELES*/

    .carteles {
        display: none;
    }

    /*CONTACTANOS*/

    .contactanos div h3 {
        font-size: 25px;
        text-align: center;
        margin-bottom: 25px;
    }

    .contactanos div h4 {
        font-size: 15px;
        text-align: center;
        margin-right: 35px;
    }

    .contactanos .boton {
        font-size: 25px;

    }

    /*HISTORIA*/
    .historia .divImg {
        width: 100%;
        height: 70vh;
    }

    .historia {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 390px 550px;
        color: white;
        margin-bottom: 0;
        


    }
    .divTexto{
        margin-top: 0;
        /* grid: row gap 0; ; */
    } 
    .divTexto p{
        margin-bottom: 25px;
    }

    .historia .divTexto h2 {
        font-size: 25px;
        margin-bottom: 25px;
        margin-top: 25px;
    }

    .historia .divTexto div p {
        font-size: 10px;
        text-align: center;
    }

    .franquicias {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 400px 400px;
        color: white;
        margin-top: 0;
        grid-row-gap: 0;
    }
    .franquicias .divtexto{
        width: 100%;
    }
    .franquicias .divImg{
        width: 100%;
    }

    .franquicias .divTexto h2 {
        font-size: 25px;
        margin-bottom: 25px;
        margin-top: 25px;
    }

    .franquicias .divTexto div p {
        font-size: 10px;
        text-align: center;

    }

    /*LOCAL*/
    .local .localPanaderas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .local .localPanaderas div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        margin-bottom: 0;
    }

    .local .localPanaderas h3 {
        margin-top: 35px;
        text-align: center;
        font-size: 20px;
        margin-bottom: 10px;
        margin-right: 10px;
    }

    .local .localPanaderas {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .local .localPanaderas div p {
        font-size: 11px;
        padding: 15px;
        margin-left: 10px;
        text-align: justify;
        margin-right: 25px;
        margin-bottom: 0;
        
    }

    .localPanaderas div p br {
        display: none;
    }

    .local .localMostrador {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;



    }

    .localMostrador p br {
        display: none;
    }

    .local .localMostrador p {
        font-size: 11px;
        padding: 15px;
        margin-left: 20px;
        padding-top: 65px;
        border-top: solid 2px rgb(152, 152, 152);
        
        /* text-align: center; */
    }

    .local .localMostrador img {
        /* margin-left: 20px; */
        margin-right: 50px;
    }

    /*GALERIA DE IMAGENES*/
    .galeriaDeImagenes {
        display: none;
    }

    /*ELEGIRNOS*/
    .elegirnos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .elegirnos div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .elegirnos div iframe {
        /* display: none; */
        width: 340px;
        height: 300px;
    }

    .elegirnos div h3 {
        font-size: 25px
    }

    .elegirnos div {
        width: 412px;
    }

    .elegirnos div p {
        font-size: 13px;
    }

    .elegirnos div a {
        margin-bottom: 30px;
    }

    /*FORMULARIO*/
    .formulario {
        background-image: url(../img/c.jpg);
        object-fit: cover;
        /* width: 480px; */

    }
    form{
        width: 450px;
    }

    /*FOOTER*/
    .primeraParte {
        height: 250px;
        background: linear-gradient(rgba(94, 93, 93, 0.402), rgba(145, 144, 144, 0.398)), url(../img/maderaDos.jpg);
        background-size: contain;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


    }

    .primeraParte .logo {
        display: none;

    }

    .cajas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        margin-left: 150px;

    }

    .primeraParte .letras {
        font-size: 15px;
        margin-top: 0;
        color: black;


    }

    .primeraParte .redesSociales2 {
        display: flex;
        margin-top: 0;
        margin-bottom: 45px;
        margin-right: 20px;


    }

    .redesSociales2 img {
        width: 35px;
        height: 35px;
        margin-top: 20px;
    }

    .segundaParte {
        height: 50px;

    }

    .segundaParte div p {
        font-size: 9px;
        margin-top: 12px;
    }

}